* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
}

.play {
    margin-bottom: -10px'
    
}

h1, h2, h3, p {
    text-align: center;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Oleo Script', cursive;
    margin-bottom: 5px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: bold;
}

h2 {
    margin-bottom: 3%;
}

.memory-game {
    width: 950px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    perspective: 1000px;
}

.memory-card {
    width: 200px;
    max-width: 22%;
    margin: 10px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .3s;
}

.memory-card:active {
    transform: scale(0.88);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    backface-visibility: hidden;
    box-shadow: 6px 5px rgb(167, 173, 173);
} 

.front-face {
    transform: rotateY(180deg);
    background: rgb(250, 235, 30);
    
}

.back-face {
    background: rgb(131,58,180);
    background: linear-gradient(135deg, rgba(133,58,180,1) 12%, rgba(253,29,29,1) 47%, rgba(252,176,69,1) 75%);
}

.info {
    display: flex;
    justify-content: center;
    width: 100%;
} 

.hide {
    display: none;
}

.countdown {
    height: 150px;
    width: 220px;
    background-color: rgb(16, 224, 16);
    color: black;
    font-size: 4.8rem;
    border-radius: 50px;
    box-shadow: 6px 5px rgb(167, 173, 173);
    margin-top: 20px;
    font-family: 'Berkshire Swash', cursive;
    margin-bottom: 0.3em;
} 

.startAgain {
    height: 60px;
    width: 110px;
    background-color: #833ab4;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    box-shadow: 6px 5px rgb(167, 173, 173);
    margin-left: 75px;
    margin-top: 70px;
}

.outOfTime {
    font-size: 2.5em;
}

.table {
    width: 100%;
    font-size: 1.7em;
    font-family: 'Oleo Script', cursive;
    background-color: rgba(109, 123, 245, 0.753);
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    font-family: 'Courier New', Courier, monospace;

}

.fastTimes {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7em;
    text-align: center;
}

.footer {
    font-size: 0.9em;
    justify-content: center;
    /* position: fixed; */
}
@media only screen and (max-width: 800px) {
    .memory-game {
        height: 800px;
    }
    .memory-card {
        /* width: calc(50%); */
        height: calc(25%);
        max-width: 40%;
        /* margin-bottom: 10%; */
    } 
    
    .play, .table, .start {
        width: 100%;
        display: flex;
        justify-content: center;
    } 

    .startAgain {
        margin-top:-25px;
    }

    .start {
        margin-left: -75px;
        margin-top: 15px;
    }
    
    .memory-game {
        width: 100%;
    }

    .outOfTime {
        margin-bottom: 0.5em;
    }

    .footer {
        display: none;
    }
}

